* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

:root {
    /* pink */
    --darkpink: #CF4D6F;
    --midlepink: #A36D90;
    --lightpink: #ac7181;
    /* black */
    --darkblack: #212529;
    --lightblack: #495057;
    --midleblack: #6c757d;
    /* white */
    /* blue */
    --darkblue: #23395B;
    --lightblue: #8EA8C3;
    --midleblue: #406E8E;
}

.principal {
    width: 100%;
    height: 60vh;
    /* background-color: var(--darkpink); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal-2 {
    width: 100%;
    height: 100vh;
    background-color: var(--darkpink);
    display: flex;
    align-items: start;
    justify-content: center;
}

.conteudo {
    height: 500px;
    width: 450px;
    background-color: var(--lightpink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid rgb(199, 188, 188);
    border-radius: 20px;
}

.criatarefa {
    height: 100px;
    width: 450px;
    background-color: var(--lightpink);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid rgb(199, 188, 188);
    border-radius: 20px;
}

.inserindo {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inserindo input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.678);
    outline: none;
    box-sizing: content-box;
    padding-left: 10px;
}

.individual {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnInserir {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.btnInserir ion-icon {
    border-radius: 30px;
    padding: 4px;
    background-color: #21252948;
    cursor: pointer;
}

.btnInserir ion-icon:hover {
    background-color: #212529;
}

.titulo {
    font-size: 30px;
}

.total {
    color: white;
    font-weight: 600;
    text-align: center;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    box-sizing: content-box;
    margin: 20px 0 20px 0;
    padding: 10px;
}

.tempo {
    font-size: 70px;
    margin-bottom: 20px;
    cursor: default;
    user-select: none;
    background-color: var(--lightpink);
    padding: 10px;
    border-radius: 20px;
    border: 4px solid rgb(199, 188, 188);
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--midlepink);
    border: 4px solid rgb(199, 188, 188);
    width: 400px;
    height: 300px;
    justify-content: center;
    border-radius: 20px;
}


.bts button {
    height: 40px;
    width: 80px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    transition: .5s;
}

.definitivo {
    padding: 4px;
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.definitivo:hover {
    background-color: rgb(177, 164, 164);
    color: white;
}

.bts {
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bts .clicado {
    background-color: rgba(131, 125, 125, 0.781);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    height: 50px;
    width: 90px;
    border: 2px solid rgb(255, 255, 255);
}

.bts button:hover {
    background-color: rgba(131, 125, 125, 0.781);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    height: 50px;
    width: 90px;
    transition: .5s;
    border: 2px solid rgb(255, 255, 255);
}

.temas {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border: 2px solid rgb(199, 188, 188);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.temas-div {
    font-size: 15px;
    width: 100%;
    height: 50%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    font-weight: 600;
}

.temas-div input {
    display: none;
}

.temas-div label {
    cursor: pointer;
}